*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,700;1,400;1,500&display=swap');
body{
  font-family: 'Fira Sans', sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
img{
  width: 100%;
  vertical-align: middle;
}
ul{
  list-style: none;
}
a{
  transition: .3s;
  color: #333;
  text-decoration: none;
}

/* header area css */

.header-area{
  background-color: rgb(36, 35, 35);
  padding: 20px 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a{
  font-size: 40px; 
  color: white;
  text-transform: capitalize;
  font-weight: 700;
}
.menu ul{
  display: flex;
}
.menu ul li a{
  color: white;
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 5px;
}
.menu ul li a:hover{
  background-color: tomato;
  color: #333;
}